{% extends "notable_quotes/base.html" %}

{% block title %}Author{% endblock %}

{% block content %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <div class="card">
        <div class="card-header">
            Author Details
        </div>
        <div class="card-body">
            <h5 class="card-title">Author name</h5>
            <p class="card-text">Born:</p>
            <p class="card-text">Country:</p>
            <p class="card-text">Famous for:</p>
            <p class="card-text">Quotes:</p>
        </div>
        </div>
    </div>

{% endblock %}