{% extends "notable_quotes/base.html" %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <div class="card">
            <div class="card-header">
                Author Details
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ author.name }}</h5>
                <p class="card-text">Born: {{ author.born }}</p>
                <p class="card-text">Country: {{ author.country }}</p>
                <p class="card-text">Famous for: {{ author.famous_for }}</p>
                <h2 class="card-text">Quotes</h2>
                <ul>
                    {% for quote in author.quotes.all %}
                        <li>{{ quote.quote }}</li>
                    {% empty %}
                        <li>No quotes available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}