{% extends "notable_quotes/base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <div class="card">
            <div class="card-header">
                {{ category.name }}
            </div>
            <div class="card-body">
                <h3 class="card-text">Quotes</h3>
                <ul>
                    {% for quote in category.quotes.all %}
                        <li class="mt-3">{{ quote.quote }} -{{ quote.author }}</li>
                    {% empty %}
                        <li>No quotes available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}