{% extends "notable_quotes/base.html" %}

{% block title %}Quotes{% endblock %} 

{% block content %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <h1 class="mb-3">Daily Quote | {{ today }}</h1>
        <div class="card p-4">
            <blockquote class="blockquote mb-0 card-body">
                <p>{{ daily_quote.quote }}</p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        <cite title="Author">{{ daily_quote.author }}</cite>
                    </small>
                </footer>
            </blockquote>
            <a href="{% url 'author_detail' daily_quote.author.id %}" class="btn btn-dark">View Author</a>
        </div>
    </div>
{% endblock%}