{% extends "notable_quotes/base.html" %}

{% block title %}Quotes{% endblock %} 

{% block content %}
    <div class="container d-flex flex-column align-items-center mt-5">
    
        <h1 class="mb-3">All Quotes</h1>

        <div class="row g-4">

        {% for quote in quotes %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card p-3 mt-3 mb-5 h-100">
                    <blockquote class="blockquote mb-0 card-body">
                    <p>{{ quote.quote }}</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        <cite title="Author">{{ quote.author }}</cite>
                        </small>
                    </footer>
                    </blockquote>
                    <a href="{% url 'author_detail' quote.author.id %}" class="btn btn-dark">View Author</a>
                </div>
            </div>
        {% empty %}
            <p>No quotes available.</p>
        {% endfor %}

        </div>

    </div>

{% endblock%}